/.idea/.idea.Common-Utils/.idea/.gitignore
/Common-Utils/bin/Debug/0Harmony.dll
/Common-Utils/bin/Debug/Assembly-CSharp-firstpass.dll
/Common-Utils/bin/Debug/Assembly-CSharp_publicized.dll
/Common-Utils/bin/Debug/BouncyCastle.Crypto.dll
/Common-Utils/obj/Debug/Common-Utils.csproj.CopyComplete
/Common-Utils/obj/Debug/Common-Utils.csproj.FileListAbsolute.txt
/Common-Utils/obj/Debug/Common-Utils.csprojAssemblyReference.cache
/Common-Utils/bin/Debug/Common-Utils.dll
/Common-Utils/obj/Debug/Common-Utils.dll
/Common-Utils/bin/Debug/Common-Utils.pdb
/Common-Utils/obj/Debug/Common-Utils.pdb
/Common-Utils.sln.DotSettings.user
/packages
/.idea
/.idea/.idea.Common-Utils/.idea/contentModel.xml
/.idea/.idea.Common-Utils/.idea/discord.xml
/Common-Utils/bin/Debug/DissonanceVoip.dll
/Common-Utils/bin/Debug/EXILED.dll
/Common-Utils/bin/Debug/EXILED_Events.dll
/Common-Utils/bin/Debug/Facepunch.Steamworks.Win64.dll
/.idea/.idea.Common-Utils/.idea/indexLayout.xml
/Common-Utils/bin/Debug/Mirror.dll
/.idea/.idea.Common-Utils/.idea/misc.xml
/.idea/.idea.Common-Utils/.idea/modules.xml
/Common-Utils/bin/Debug/Mono.Nat.dll
/Common-Utils/bin/Debug/netstandard.dll
/.idea/.idea.Common-Utils/.idea/projectSettingsUpdater.xml
/.idea/.idea.Common-Utils/riderModule.iml
/Common-Utils/bin/Debug/System.Configuration.dll
/Common-Utils/bin/Debug/System.Diagnostics.StackTrace.dll
/Common-Utils/bin/Debug/System.Globalization.Extensions.dll
/Common-Utils/bin/Debug/System.IO.Compression.dll
/Common-Utils/bin/Debug/System.Runtime.Serialization.dll
/Common-Utils/bin/Debug/Unity.TextMeshPro.dll
/Common-Utils/bin/Debug/UnityEngine.AIModule.dll
/Common-Utils/bin/Debug/UnityEngine.AndroidJNIModule.dll
/Common-Utils/bin/Debug/UnityEngine.AnimationModule.dll
/Common-Utils/bin/Debug/UnityEngine.AssetBundleModule.dll
/Common-Utils/bin/Debug/UnityEngine.AudioModule.dll
/Common-Utils/bin/Debug/UnityEngine.CoreModule.dll
/Common-Utils/bin/Debug/UnityEngine.DirectorModule.dll
/Common-Utils/bin/Debug/UnityEngine.dll
/Common-Utils/bin/Debug/UnityEngine.GridModule.dll
/Common-Utils/bin/Debug/UnityEngine.IMGUIModule.dll
/Common-Utils/bin/Debug/UnityEngine.InputLegacyModule.dll
/Common-Utils/bin/Debug/UnityEngine.InputModule.dll
/Common-Utils/bin/Debug/UnityEngine.ParticleSystemModule.dll
/Common-Utils/bin/Debug/UnityEngine.Physics2DModule.dll
/Common-Utils/bin/Debug/UnityEngine.PhysicsModule.dll
/Common-Utils/bin/Debug/UnityEngine.ScreenCaptureModule.dll
/Common-Utils/bin/Debug/UnityEngine.SharedInternalsModule.dll
/Common-Utils/bin/Debug/UnityEngine.SubsystemsModule.dll
/Common-Utils/bin/Debug/UnityEngine.TerrainModule.dll
/Common-Utils/bin/Debug/UnityEngine.TerrainPhysicsModule.dll
/Common-Utils/bin/Debug/UnityEngine.TextCoreModule.dll
/Common-Utils/bin/Debug/UnityEngine.TextRenderingModule.dll
/Common-Utils/bin/Debug/UnityEngine.TilemapModule.dll
/Common-Utils/bin/Debug/UnityEngine.UI.dll
/Common-Utils/bin/Debug/UnityEngine.UIElementsModule.dll
/Common-Utils/bin/Debug/UnityEngine.UIModule.dll
/Common-Utils/bin/Debug/UnityEngine.UNETModule.dll
/Common-Utils/bin/Debug/UnityEngine.UnityAnalyticsModule.dll
/Common-Utils/bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
/Common-Utils/bin/Debug/UnityEngine.UnityWebRequestModule.dll
/Common-Utils/bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
/Common-Utils/bin/Debug/UnityEngine.VFXModule.dll
/Common-Utils/bin/Debug/UnityEngine.VideoModule.dll
/Common-Utils/bin/Debug/UnityEngine.VRModule.dll
/Common-Utils/bin/Debug/UnityEngine.XRModule.dll
/.idea/.idea.Common-Utils/.idea/vcs.xml
/Common-Utils/bin/Debug/zxing.unity.dll
